<p id="notice"><%= notice %></p>

<h1>Pupils</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Parent1</th>
      <th>Parent2</th>
      <th>Advisor</th>
      <th>Emailcc</th>
      <th>Hour</th>
      <th>Runningtotal</th>
      <th>Failing</th>
      <th>Parentconf</th>
      <th>Message</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pupils.each do |pupil| %>
      <tr>
        <td><%= pupil.name %></td>
        <td><%= pupil.email %></td>
        <td><%= pupil.parent1 %></td>
        <td><%= pupil.parent2 %></td>
        <td><%= pupil.advisor %></td>
        <td><%= pupil.emailcc %></td>
        <td><%= pupil.hour %></td>
        <td><%= pupil.runningTotal %></td>
        <td><%= pupil.failing %></td>
        <td><%= pupil.parentconf %></td>
        <td><%= pupil.message %></td>
        <td><%= pupil.user_id %></td>
        <td><%= link_to 'Show', pupil %></td>
        <td><%= link_to 'Edit', edit_pupil_path(pupil) %></td>
        <td><%= link_to 'Destroy', pupil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pupil', new_pupil_path %>
