<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pupil.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pupil.email %>
</p>

<p>
  <strong>Parent1:</strong>
  <%= @pupil.parent1 %>
</p>

<p>
  <strong>Parent2:</strong>
  <%= @pupil.parent2 %>
</p>

<p>
  <strong>Advisor:</strong>
  <%= @pupil.advisor %>
</p>

<p>
  <strong>Emailcc:</strong>
  <%= @pupil.emailcc %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @pupil.hour %>
</p>

<p>
  <strong>Runningtotal:</strong>
  <%= @pupil.runningTotal %>
</p>

<p>
  <strong>Failing:</strong>
  <%= @pupil.failing %>
</p>

<p>
  <strong>Parentconf:</strong>
  <%= @pupil.parentconf %>
</p>

<p>
  <strong>Message:</strong>
  <%= @pupil.message %>
</p>

<p>
  <strong>User:</strong>
  <%= @pupil.user_id %>
</p>

<%= link_to 'Edit', edit_pupil_path(@pupil) %> |
<%= link_to 'Back', pupils_path %>
